:root {
  --shiki-color-text: #414141;
  --shiki-color-background: transparent;
  --shiki-token-constant: #1976d2;
  --shiki-token-string: #22863a;
  --shiki-token-comment: #aaa;
  --shiki-token-keyword: #d32f2f;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #6f42c1;
  --shiki-token-string-expression: #22863a;
  --shiki-token-punctuation: #212121;
  --shiki-token-link: #22863a;
}

.dark {
  --shiki-color-text: #d1d1d1;
  --shiki-token-constant: #79b8ff;
  --shiki-token-string: #ffab70;
  --shiki-token-comment: #6b737c;
  --shiki-token-keyword: #f97583;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #b392f0;
  --shiki-token-string-expression: #4bb74a;
  --shiki-token-punctuation: #bbb;
  --shiki-token-link: #ffab70;
}

/* #feedback-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

#feedback-container input {
  width: 100%;
  padding: 4px;
}

#feedback-container button:enabled {
  border: 2px oklch(0.7176 0.221 22.18) solid;
  padding: 4px;
  color: oklch(0.7176 0.221 22.18)
}

#feedback-container button:enabled:hover {
  border: 2px oklch(0.648 0.15 160) solid;
  padding: 4px;
  color: oklch(0.648 0.15 160)
} */